<!DOCTYPE html>
<html lang="en">

<head>
  <!-- include libraries(jQuery, bootstrap) -->
  <!--css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="..\public\css\systems.css" rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System</title>

</head>

<body style="padding-top: 5rem;">
  <!--아이콘-->
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <!--닫기버튼 아이콘-->
    <symbol id="close" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
      <path fill-rule="evenodd"
        d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
    </symbol>
  </svg>

  <!-- 상단 바-->
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand"></a>
    <a class="navbar-brand" href="#">설정</a>
    <!--화면 줄어들었을때 버튼 토글로 변환-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
          </li>
          <li>
            <a href="javascript:history.back();" class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#close" />
              </svg>
            </a>
          </li>
        </ul>
      </form>
    </div>
  </nav>

  <!--system-->
  <main role="main" class="container">
    <p>
    <div class="row">
      <h4 style="font-weight: bold;">계정설정</h4>
      <br>
      <br>
      <br>
      <div class="col-md-8">

        <h5 style="font-weight: bold;">이름</h5>
        유저이름
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-change" style="width: 100%;" data-bs-toggle="modal"
          data-bs-target="#usernameModal">수정</button>
      </div>
    </div>
    </p>
    <br>
    <br>


    <p>
    <div class="row">

      <div class="col-md-8">
        <h5 style="font-weight: bold;">상태메시지</h5>
        상태메시지
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-change" style="width: 100%;" data-bs-toggle="modal"
          data-bs-target="#msgModal">수정</button>
      </div>
    </div>
    </p>
    <br>
    <br>

    <p>
    <div class="row">
      <div class="col-md-8">
        <h5 style="font-weight: bold;">계정 삭제</h5>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-change" style="width: 100%;" data-bs-toggle="modal"
          data-bs-target="#accountdeleteModal">계정 삭제</button>
      </div>
    </div>
    </p>
    <br>
    <hr class="my-5">


    <!--음성설정-->
    <h4 style="font-weight: bold;">시스템설정</h4>
    <br>
    <h5 style="font-weight: bold;">음성설정</h5>

    <!--장치-->
    <!--마이크 테스트하기-->
    <p>
      <div class="row">
        <div class="col">
          <input type=checkbox id="chk-hear-mic"><label for="chk-hear-mic">&nbsp마이크 소리 듣기</label>
        </div>
      </div>
      </p>
      
    <p>
    <div class="row">

      <div class="col">
        <p>
          녹음장치
        <div class="dropdown">
          <button class="btn btn-drop dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false" style="width: 100%; text-align: left;">
            <!--버튼 크기 고정이지만 글자 왼쪽 정렬 : style="text-align: left; width: 15cm;"하면 화살표도 같이 왼쪽으로 감,,,-->
            Default
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 100%;">
            <li><a class="dropdown-item" href="#">Default</a></li>
            <li><a class="dropdown-item" href="#">헤드셋 마이크</a></li>
            <li><a class="dropdown-item" href="#">마이크배열</a></li>
          </ul>
        </div>
        </p>
      </div>

      <div class="col">
        <p>
          출력장치
        <div class="dropdown">
          <button class="btn btn-drop dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <!--버튼 크기 고정이지만 글자 왼쪽 정렬 : style="text-align: left; width: 15cm;"하면 화살표도 같이 왼쪽으로 감,,,-->
            Default
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 100%;">
            <li><a class="dropdown-item" href="#">Default</a></li>
            <li><a class="dropdown-item" href="#">헤드셋 마이크</a></li>
            <li><a class="dropdown-item" href="#">마이크배열</a></li>
          </ul>
        </div>
        </p>
      </div>

    </div>
    </p>

    <!--음량-->
    <p>
    <div class="row">

      <div class="col">
        <p>
          입력음량
        <div><input type="range" class="form-range" min="0" max="100" step="0.5" id="customRange3"></div>
        </p>
      </div>

      <div class="col">
        <p>
          출력음량
        <div><input type="range" class="form-range" id="customRange3"></div>
        </p>
      </div>

    </div>
    </p>

    

    <!--영상설정-->
    <h5 style="font-weight: bold;">영상설정</h5>

    <!--영상테스트-->
    <p>
    <div class="row">
      <div class="col">
        <p>
        <div>
          <button type="button" class="btn btn-drdr" onclick="{getVideo()}">영상 테스트</button>
          <video id="myVideo" width="400" height="300" style="width: 100%; height: 50%; background-color: #409169;">
        </div>
        </p>
      </div>
    </div>
    </p>

    <!--카메라 선택-->
    <p>
    <div class="row">
      <div class="col">
        <p>
          카메라
        <div class="dropdown">
          <button class="btn btn-drop dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <!--버튼 크기 고정이지만 글자 왼쪽 정렬 : style="text-align: left; width: 15cm;"하면 화살표도 같이 왼쪽으로 감,,,-->
            Default
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 100%;">
            <li><a class="dropdown-item" href="#">Default</a></li>
            <li><a class="dropdown-item" href="#">외부 카메라</a></li>
            <li><a class="dropdown-item" href="#">웹 카메라</a></li>
          </ul>
        </div>
        </p>
      </div>
    </div>
    <br>
    <br>
    </p>

    <!--이름 수정 모달창-->
    <div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="usernameModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="border: none;">
            <h5 class="modal-title" id="usernameModal" style="font-weight: bold;">이름 변경하기</h5>
            <div data-bs-dismiss="modal" aria-label="Close" style="font-size:20pt;">&times;</div>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="modal-name" class="col-form-label">이름:</label>
              <input type="text" class="form-control" id="modal-name">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-modal">적용</button>
          </div>
        </div>
      </div>
    </div>

    <!--상태메시지 수정 모달창-->
    <div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="border: none;">
            <h5 class="modal-title" id="msgModal" style="font-weight: bold;">상태메시지 변경하기</h5>
            <div data-bs-dismiss="modal" aria-label="Close" style="font-size:20pt;">&times;</div>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="modal-msg" class="col-form-label">상태메시지:</label>
              <input type="text" class="form-control" id="modal-msg">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-modal">적용</button>
          </div>
        </div>
      </div>
    </div>

    <!--계정삭제 모달창-->
    <div class="modal fade" id="accountdeleteModal" tabindex="-1" aria-labelledby="accountdeleteModal"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="border: none;">
            <h5 class="modal-title" id="accountdeleteModal" style="font-weight: bold;">계정 삭제</h5>
            <div data-bs-dismiss="modal" aria-label="Close" style="font-size:20pt;">&times;</div>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="modal-delete" class="col-form-label">계정을 삭제하실 건가요? <br> 계정을 삭제하려면 비밀번호를 입력해주세요.</label>
              <input type="password" class="form-control" id="modal-delete">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-modal">삭제</button>
          </div>
        </div>
      </div>
    </div>

    <!--비밀번호 변경 모달창-->
    <div class="modal fade" id="pwchangeModal" tabindex="-1" aria-labelledby="pwchangeModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="border: none;">
            <h5 class="modal-title" id="pwchangeModal" style="font-weight: bold;">비밀번호 변경</h5>
            <div data-bs-dismiss="modal" aria-label="Close" style="font-size:20pt;">&times;</div>
          </div>
          <div class="modal-body">
            <p>
              <label for="modal-pw" class="col-form-label">현재 비밀번호</label>
              <input type="password" class="form-control" id="modal-pw">
            </p>
            <p>
              <label for="modal-newpw" class="col-form-label">새 비밀번호</label>
              <input type="password" class="form-control" id="modal-newpw">
            </p>
            <p>
              <label for="modal-newpwconfirm" class="col-form-label">새 비밀번호 확인</label>
              <input type="password" class="form-control" id="modal-newpwconfirm">
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-modal">적용</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!--토글 js-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script src="../public/js/systems.js"></script>


</body>

</html>